In [1]:
#impoting Libraries
from sqlalchemy import create_engine
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading files path, plz make sure to use the file path according to your own machine
path_dir=(r'C:\Users\kazim\Documents\Master of Data\2021\SIT782 Project part B\Powercor')
for files in os.listdir(path_dir):
    print(files)
list = os.listdir(path_dir)
file_count = len(list)
print ("Total Files: ",file_count)

c4net request id.xlsb
c4net request reads part 2.1.xlsb
c4net request reads part 2.2.xlsb
c4net request reads part 2.3.xlsb
c4net request reads part 2.4.xlsb
c4net request reads part 2.5.xlsb
c4net_E2_data (part 1 - 1-102).xlsx
c4net_E2_data (part 10 - 1000-1149).xlsx
c4net_E2_data (part 2 - 103-203).xlsx
c4net_E2_data (part 3 - 204-325).xlsx
c4net_E2_data (part 4 - 326-450).xlsx
c4net_E2_data (part 5 - 451-560).xlsx
c4net_E2_data (part 6 - 561-670).xlsx
c4net_E2_data (part 7 - 671-780).xlsx
c4net_E2_data (part 8 - 781-890).xlsx
c4net_E2_data (part 9 - 891-1000).xlsx
Total Files:  16

In [3]:
#Simple xlxs file upload
path=r'C:/Users/kazim/Documents/Master of Data/2021/SIT782 Project part B/Powercor/'
#path=(r'C:\Users\kazim\Documents\Master of Data\2021\SIT782 Project part B\Combine')
#path = os.getcwd()
files = os.listdir(path)
File_count=0
#files
data_power_temp=[]
files_xlsx = [f for f in files if f[-4:] == 'xlsx']
for f in files_xlsx:
    df=pd.read_excel(path+f)
    data_power_temp.append(df)
    print(f)
    File_count=File_count+1 
data_powercore_xlsx=pd.concat(data_power_temp)
print("Total Files Loaded: ",File_count)

c4net_E2_data (part 1 - 1-102).xlsx
c4net_E2_data (part 10 - 1000-1149).xlsx
c4net_E2_data (part 2 - 103-203).xlsx
c4net_E2_data (part 3 - 204-325).xlsx
c4net_E2_data (part 4 - 326-450).xlsx
c4net_E2_data (part 5 - 451-560).xlsx
c4net_E2_data (part 6 - 561-670).xlsx
c4net_E2_data (part 7 - 671-780).xlsx
c4net_E2_data (part 8 - 781-890).xlsx
c4net_E2_data (part 9 - 891-1000).xlsx
Total Files Loaded:  10

In [4]:
path=r'C:/Users/kazim/Documents/Master of Data/2021/SIT782 Project part B/Powercor/'
#path=(r'C:\Users\kazim\Documents\Master of Data\2021\SIT782 Project part B\Combine')
#path = os.getcwd()
files = os.listdir(path)
File_count=0
data_power_temp_xlb=[]
files_xlsx_xb = [f for f in files if f[14:19] == 'reads']

for f in files_xlsx_xb:
    df_xb=pd.read_excel(path+f,engine='pyxlsb')
    data_power_temp_xlb.append(df_xb)
    print(f)
    File_count=File_count+1 
data_powercore_xb=pd.concat(data_power_temp_xlb)
print("Total Files Loaded: ",File_count)

c4net request reads part 2.1.xlsb
c4net request reads part 2.2.xlsb
c4net request reads part 2.3.xlsb
c4net request reads part 2.4.xlsb
c4net request reads part 2.5.xlsb
Total Files Loaded:  5

In [5]:
data_powercore_xlsx.head()

,Unnamed: 0,nmi,read_date,channel,interval_0030,interval_0100,interval_0130,interval_0200,interval_0230,interval_0300,...,interval_1930,interval_2000,interval_2030,interval_2100,interval_2130,interval_2200,interval_2230,interval_2300,interval_2330,interval_2400
0,0,1,2019-01-01,B1,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,1,1,2019-01-01,E1,0.046,0.008,0.045,0.008,0.045,0.008,...,0.019,0.035,0.023,0.038,0.018,0.040,0.083,0.047,0.009,0.051
2,2,1,2019-01-01,E2,0.000,0.000,0.000,0.000,0.000,0.596,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.133,0.000,0.000
3,3,1,2019-01-02,B1,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,4,1,2019-01-02,E1,0.008,0.048,0.008,0.048,0.009,0.040,...,0.041,0.007,0.048,0.008,0.046,0.008,0.047,0.008,0.043,0.010

In [6]:
data_powercore_xlsx.drop(['Unnamed: 0'], axis=1, inplace=True)

In [44]:
data_powercore_xlsx.head()

,nmi,read_date,channel,interval_0030,interval_0100,interval_0130,interval_0200,interval_0230,interval_0300,interval_0330,...,interval_1930,interval_2000,interval_2030,interval_2100,interval_2130,interval_2200,interval_2230,interval_2300,interval_2330,interval_2400
0,1,2019-01-01,B1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,1,2019-01-01,E1,0.046,0.008,0.045,0.008,0.045,0.008,0.045,...,0.019,0.035,0.023,0.038,0.018,0.040,0.083,0.047,0.009,0.051
2,1,2019-01-01,E2,0.000,0.000,0.000,0.000,0.000,0.596,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.133,0.000,0.000
3,1,2019-01-02,B1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,1,2019-01-02,E1,0.008,0.048,0.008,0.048,0.009,0.040,0.015,...,0.041,0.007,0.048,0.008,0.046,0.008,0.047,0.008,0.043,0.010

In [45]:
data_powercore_xb.head()

,nmi,read_date,channel_type,interval_0030,interval_0100,interval_0130,interval_0200,interval_0230,interval_0300,interval_0330,...,interval_1930,interval_2000,interval_2030,interval_2100,interval_2130,interval_2200,interval_2230,interval_2300,interval_2330,interval_2400
0,1954,43466,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.017,0.001,0.000,0.0,0.0,0.0,0.0,0.000,0.000,0.0
1,1954,43466,E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.001,0.004,0.0,0.0,0.0,0.0,1.413,0.420,0.0
2,1954,43467,E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.001,0.003,0.0,0.0,0.0,0.0,1.241,0.714,0.0
3,1954,43467,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.018,0.001,0.000,0.0,0.0,0.0,0.0,0.000,0.000,0.0
4,1954,43468,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.018,0.002,0.000,0.0,0.0,0.0,0.0,0.000,0.000,0.0

In [7]:
data_powercore_xb = data_powercore_xb.dropna(how='any',axis=0)
data_powercore_xlsx=data_powercore_xlsx.dropna(how='any',axis=0)

In [7]:
# Change column names
data_powercore_xb.rename(columns={'channel_type':'channel'}, inplace=True)

In [8]:
#Standardising data types
data_powercore_xb['read_date'] = pd.to_datetime(data_powercore_xb['read_date'])
data_powercore_xlsx['read_date'] = pd.to_datetime(data_powercore_xlsx['read_date'])

In [9]:
data_powercore_complete=pd.concat([data_powercore_xlsx,data_powercore_xb],ignore_index=True, sort=False)
data_powercore_complete.nmi=data_powercore_complete.nmi.astype(int)

In [60]:
data_powercore_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610998 entries, 0 to 1610997
Data columns (total 51 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   nmi            1610998 non-null  int64
 1   read_date      1610998 non-null  datetime64[ns]
 2   channel        1610998 non-null  object
 3   interval_0030  1610998 non-null  float64
 4   interval_0100  1610998 non-null  float64
 5   interval_0130  1610998 non-null  float64
 6   interval_0200  1610998 non-null  float64
 7   interval_0230  1610998 non-null  float64
 8   interval_0300  1610998 non-null  float64
 9   interval_0330  1610998 non-null  float64
 10  interval_0400  1610998 non-null  float64
 11  interval_0430  1610998 non-null  float64
 12  interval_0500  1610998 non-null  float64
 13  interval_0530  1610998 non-null  float64
 14  interval_0600  1610998 non-null  float64
 15  interval_0630  1610998 non-null  float64
 16  interval_0700  1610998 non-null  float64
 17  interval_0730  1610998 non-null  float64
 18  interval_0800  1610998 non-null  float64
 19  interval_0830  1610998 non-null  float64
 20  interval_0900  1610998 non-null  float64
 21  interval_0930  1610998 non-null  float64
 22  interval_1000  1610998 non-null  float64
 23  interval_1030  1610998 non-null  float64
 24  interval_1100  1610998 non-null  float64
 25  interval_1130  1610998 non-null  float64
 26  interval_1200  1610998 non-null  float64
 27  interval_1230  1610998 non-null  float64
 28  interval_1300  1610998 non-null  float64
 29  interval_1330  1610998 non-null  float64
 30  interval_1400  1610998 non-null  float64
 31  interval_1430  1610998 non-null  float64
 32  interval_1500  1610998 non-null  float64
 33  interval_1530  1610998 non-null  float64
 34  interval_1600  1610998 non-null  float64
 35  interval_1630  1610998 non-null  float64
 36  interval_1700  1610998 non-null  float64
 37  interval_1730  1610998 non-null  float64
 38  interval_1800  1610998 non-null  float64
 39  interval_1830  1610998 non-null  float64
 40  interval_1900  1610998 non-null  float64
 41  interval_1930  1610998 non-null  float64
 42  interval_2000  1610998 non-null  float64
 43  interval_2030  1610998 non-null  float64
 44  interval_2100  1610998 non-null  float64
 45  interval_2130  1610998 non-null  float64
 46  interval_2200  1610998 non-null  float64
 47  interval_2230  1610998 non-null  float64
 48  interval_2300  1610998 non-null  float64
 49  interval_2330  1610998 non-null  float64
 50  interval_2400  1610998 non-null  float64
dtypes: datetime64[ns](1), float64(48), int64(1), object(1)
memory usage: 626.8+ MB

In [10]:
#Mapping nmi, postcodes and city values to powercore data
#Reading nmi master file
path=r'C:/Users/kazim/Documents/Master of Data/2021/SIT782 Project part B/Powercor/'
files = os.listdir(path)
files_nmi = [f for f in files if f == 'c4net request id.xlsb']
for f in files_nmi:
    df_xb=pd.read_excel(path+f,engine='pyxlsb')
data_nmi=pd.DataFrame(df_xb)

In [11]:
data_power_master = pd.merge(data_powercore_complete,data_nmi,on ='nmi',how ='inner')

In [12]:
data_power_master.head()

,nmi,read_date,channel,interval_0030,interval_0100,interval_0130,interval_0200,interval_0230,interval_0300,interval_0330,...,interval_2230,interval_2300,interval_2330,interval_2400,channel_type,company,solar_ind,tariff_codes,postcode,region
0,1,2019-01-01,B1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,NaN,CP,Y,C3Ri;GENR13,3101,METRO
1,1,2019-01-01,E1,0.046,0.008,0.045,0.008,0.045,0.008,0.045,...,0.083,0.047,0.009,0.051,NaN,CP,Y,C3Ri;GENR13,3101,METRO
2,1,2019-01-01,E2,0.000,0.000,0.000,0.000,0.000,0.596,0.000,...,0.000,1.133,0.000,0.000,NaN,CP,Y,C3Ri;GENR13,3101,METRO
3,1,2019-01-02,B1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,NaN,CP,Y,C3Ri;GENR13,3101,METRO
4,1,2019-01-02,E1,0.008,0.048,0.008,0.048,0.009,0.040,0.015,...,0.047,0.008,0.043,0.010,NaN,CP,Y,C3Ri;GENR13,3101,METRO

In [14]:
#Connecting to mysqlserver
myDB=create_engine('mysql+mysqlconnector://root:Shah3214@localhost/solar_energy',pool_pre_ping=True)

In [15]:
#Transfereing data to sql db
with myDB.connect() as conn,conn.begin():
    data_power_master.to_sql('Powercore_2019_2029',conn, if_exists='append',chunksize=1000,index=False)